<%= javascript_include_tag "application" %>

<div class="container delete-confirm">
  <h4><%= @listing.title %></h4>
  <h1>Bu ilanı silmek istediğinizden emin misiniz?</h1>

  <h2>
    Bu eylemi geri alamazsınız, belki sadece
    <a data-no-instant href="/listings/<%= @listing.id %>/edit">
      <%= @listing.published ? "yatından kaldırmak" : "düzenlemek" %>
    </a>
    istediniz?
  </h2>

  <%= form_tag "/listings/#{@listing.id}", method: :delete do %>
    <button class="cta">SİL</button>
  <% end %>
</div>
