<% title "Edit Listing" %>

<div class="listings-container listings-form-container">
  <%= form_for(@listing) do |f| %>
    <header>
      <a href="/listings/dashboard" class="listings-back-button">&lt; İlan paneline dönüş yap</a>
      <h2>Taslakların başlığını/içeriğini/etiketlerini yalnızca ilanın veya yükseltmenin ilk 24 saati içinde düzenleyebilirsiniz</h2>
    </header>
    <div class="listings-form-inner">
      <%= render partial: "form_errors", locals: { listing: @listing } %>

      <% if (@listing.bumped_at && @listing.bumped_at > 24.hours.ago) || @listing.updated_at && !@listing.published %>
        <div class="field">
          <%= f.label "title", "Title" %>
          <%= f.text_field "title", maxlength: 128, placeholder: "Maksimum 128 karakter, düz metin" %>
        </div>
        <div class="field">
          <%= f.label "body_markdown", "İçerik (markdown)" %>
          <%= f.text_area "body_markdown", maxlength: 400, placeholder: "Maksimum 400 karakter, maksimum 12 satır sonu, resme izin verilmez" %>
        </div>
        <div class="field">
          <%= f.label "tag_list", "Tags" %>
          <%= f.text_field "tag_list", value: @listing.cached_tag_list, placeholder: "Maksimum 8 etiket, virgülle ayrılmış, boşluk veya özel karakter yok" %>
        </div>
        <div class="field">
          <%= f.label "location", "Location" %>
          <%= f.text_field "location", maxlength: 32, placeholder: "Maksimum 32 karakter, düz metin" %>
        </div>
        <div class="field">
          <%= f.label "expires_at", "Özel Son Kullanma Tarihi" %>
          <%= f.date_field "expires_at", min: Date.tomorrow, max: @listing.natural_expiration_date %>
        </div>
        <div class="field">
          <%= f.label "contact_via_connect", "Kullanıcıların Uygulama İçi Sohbet Yoluyla Bana Mesaj Göndermesine İzin Ver" %>
          <%= f.check_box "contact_via_connect" %>
        </div>
        <% if @listing.published %>
          <%= f.submit "İlan Bilgilerini Güncelle", class: "cta cta-main-listing-form" %>
        <% else %>
          <%= f.submit "Taslağı Güncelle", class: "cta cta-main-listing-form cta-draft" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @listing.bumped_at %>
    <%= form_for(@listing) do |f| %>
      <header>
        <a href="<%= @listing.path %>" class="listings-back-button" style="font-size: 1.1em;">Son Yayınlanan / Doping: <%= time_ago_in_words @listing.bumped_at %> önce</a>
        <h2>Girişinizi orijinal girişle aynı fiyata çarpabilirsiniz</h2>
      </header>
      <div class="listing-form-inner">
        <% if (@listing.natural_expiration_date) < Date.today %>
          <h4>
            (<%= time_ago_in_words @listing.natural_expiration_date %> önce bitti)
          </h4>
        <% else %>
          <h4>
            (<%= time_ago_in_words @listing.natural_expiration_date %> tarihinde bitecek)
          </h4>
        <% end %>
        <input type="hidden" name="listing[action]" value="bump" />
        <%= f.submit "Bump Listing", class: "cta cta-main-listing-form" %>
      </div>
    <% end %>
  <% end %>
  <%= form_for(@listing) do |f| %>
    <div class="listing-form-inner">
      <% unless @listing.published %>
        <h2 style="text-align: center; margin-top: 15px;">
          Bu ilan yayınlanmadı
        </h2>
      <% end %>
      <% if @listing.published == false %>
        <input type="hidden" name="listing[action]" value="publish" />
        <%= f.submit "İlanı Yayınla", class: "cta listings-publish cta-main-listing-form" %>
      <% else %>
        <input type="hidden" name="listing[action]" value="unpublish" />
        <%= f.submit "İlanı Yayından Kaldır", class: "cta listings-unpublish cta-main-listing-form" %>
      <% end %>
    </div>
  <% end %>
</div>
