<%= javascript_packs_with_chunks_tag "colorPreview", "validateFileInputs", defer: true %>

<div class="crayons-card grid gap-6 p-6 mb-6">
  <h3>Join An Organization</h3>
  <%= form_tag "/users/join_org" do %>
    <div class="crayons-field mb-6">
      <%= label_tag :org_secret, "Secret code", class: "crayons-field__label" %>
      <p class="crayons-field__description">Size bir kuruluş yöneticisi tarafından sağlanmıştır</p>
      <%= text_field_tag :org_secret, nil, placeholder: "...", class: "crayons-textfield", autocomplete: "off" %>
    </div>

    <button class="crayons-btn" type="submit">Kuruluşa Katıl</button>
  <% end %>
</div>

<p class="align-center fs-small color-base-60 mb-6 fw-bold">OR</p>

<div class="crayons-card grid gap-6 p-6 mb-6">
  <header>
    <h3 class="mb-2">Bir Kuruluş Oluşturun</h3>
    <p>Yıldızlı alanlar zorunludur</p>
  </header>

  <%= form_for @organization, html: { class: "grid gap-6" } do |f| %>
    <div class="crayons-field">
      <%= f.label :name, "Name *", class: "crayons-field__label" %>
      <%= f.text_field :name, class: "crayons-textfield", placeholder: "Acme Inc." %>
    </div>
    <div class="crayons-field">
      <%= f.label :slug, "Username *", class: "crayons-field__label" %>
      <%= f.text_field :slug, class: "crayons-textfield", placeholder: "acmeinc" %>
      <p class="crayons-field__description">Kuruluş URL'niz <% = app_url%>/{username} olacaktır</p>
    </div>

    <div class="crayons-field">
      <%= f.label :profile_image, "Profile image *", class: "crayons-field__label" %>
      <%= f.file_field :profile_image, accept: "image/*", class: "crayons-card crayons-card--secondary p-3 flex items-center flex-1 w-100" %>
    </div>

    <div class="crayons-field">
      <%= f.label :twitter_username, "Twitter username", class: "crayons-field__label" %>
      <%= f.text_field :twitter_username, class: "crayons-textfield" %>
    </div>

    <div class="crayons-field">
      <%= f.label :github_username, "GitHub username", class: "crayons-field__label" %>
      <%= f.text_field :github_username, class: "crayons-textfield" %>
    </div>

    <%= render partial: "shared/logo_design", locals: { f: f, account: @user } %>

    <div class="crayons-field">
      <%= f.label :url, "Website url *", class: "crayons-field__label" %>
      <%= f.url_field :url, placeholder: "https://yoursite.com", class: "crayons-textfield" %>
    </div>

    <div class="crayons-field">
      <%= f.label :summary, "Summary *", class: "crayons-field__label" %>
      <%= f.text_area :summary, class: "crayons-textfield", rows: 3, placeholder: "..." %>
    </div>

    <div class="crayons-field">
      <%= f.label :proof, "Proof *", class: "crayons-field__label" %>
      <p class="crayons-field__description">Bu sadece, bu kuruluşla açıkça ilişkili olduğunuzu gösteren kısa bir tanıtım veya bağlantıdır..</p>
      <%= f.text_area :proof, placeholder: "...", class: "crayons-textfield" %>
      <p class="crayons-field__description">Bu formu göndermek için kuruluşunuzun iznine sahip olmanız gerekir. Sahtekârlık kalıcı olarak askıya alınmasına neden olabilir.</p>
    </div>

    <div><button class="crayons-btn" type="submit">Kuruluş Oluşturun</button></div>
  <% end %>
</div>
